@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    width: 100%;
}

.card-container {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: 37%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(186, 196, 211);
}

.image-container {
    width: 90%;
}

img {
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 10px;
}

.text-container {
    text-align: center;
    font-size: 0.7rem;
    padding: 20px;
}

h1 {
    font-weight: 700;
    font-size: 1.3rem;
}

h1 span {
    display: block;
    word-spacing: 2px;
}

p {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 15px;
    color: hsl(220, 15%, 55%);
}

p span {
    display: block;
}